<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Fotos</title>
</head>
<body>
    <header id="header_fotos">
        <a href="/">INICIO</a>
    </header>
    <main id="main_fotos">
        <% for (index in datos){ %>
            <section>
                <h1><%=datos[index].titulo  %></h1>
                <img src="<%=datos[index].url%>" alt="">
                <p><%=datos[index].descripcion  %></p>
                <p><%=datos[index].fecha  %></p>
            </section>
        <% } %>
    </main>
</body>
</html>