<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="header_index">
      <a href="/fotos">Fotos</a>
      <a href="/fotos/masvotadas">Fotos mas votadas</a>
      <a href="/fotos/menosvotadas"> Fotos menos votadas</a>
      <a href="/fotos/comentadas">Fotos comentadas</a>
      <a href="/fotos_nocomentadas">Fotos no comentadas</a>
    </header>
  </body>
</html>
