<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="header_index">
      <a href="/fotos">Fotos</a>
      <a href="/fotos/masvotadas">Fotos mas votadas</a>
      <a href="/fotos/menosvotadas"> Fotos menos votadas</a>
      <a href="/fotos/comentadas">Fotos comentadas</a>
      <a href="/fotos_nocomentadas">Fotos no comentadas</a>
    </header>
    <main id="main_index">
      <form action="">
        <h1>Subir Foto</h1>
        <input type="text" placeholder="Titulo de la foto...">
        <input type="text" placeholder="Url de la foto...">
        <textarea name="" id="" cols="30" rows="10" placeholder="Descripción de la foto"></textarea>
        <button>Subir</button>
      </form>
    </main>
  </body>
</html>
